<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body>
<fieldset>
    <div th:if="${#request.getParameter('expire')}" style="color: red; text-align: center;">
        새로운 곳에서 로그인이 시도되었습니다.
    </div>
<div id="container" class="main_container">
    <div th:if="${param.error}" class="form-group" style="text-align: center; line-height: 10px;">
        <span th:text="${exception}" class="alert alert-danger" style="position: absolute;text-align:center; top:10%; width: 800px; margin: -30px; transform: translate(-50%, -50%)"></span>
    </div>

    <div style="padding: 20px;"></div>
    <div class="login_container">
        <div class="form_container">
            <form name="login_form" th:action="@{/login_proc}" th:method="post">
                <input type="hidden" th:value="secret" name="secret_key" />

                <div class="form_title_div">

                    <p class="form_title_p">로그인</p>
                </div>

                <div>
                    <div>
                        <a class="form_item_id">id</a>
                    </div>
                    <div>
                        <input type="text" name="username" placeholder="id" class="form_input" required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_id" class="form_text_alert"></div>
                    </div>
                </div>
                <div>
                    <div>
                        <a class="form_item_id">Password</a>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Enter password" class="form_input" required="required"/>
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_password" class="form_text_alert"></div>
                    </div>
                </div>
                <div style="height: 10px;"></div>
                <div>
                    <button type="submit" class="form_submit_button">Login</button>

                </div>
            </form>
        </div>
    </div>
</div>
</fieldset>
</body>
</html>